<!DOCTYPE html>
<html>

   <head>
      <title>TimeStamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="./style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
          <h3>Example usage:</h3>
            <code>https://sunset-ton.glitch.me/December%2015,%202015</code><br>
            <code>https://sunset-ton.glitch.me/1450137600</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1450137600,
                  "natural": "December 15, 2015"
                }
            </code>
      </div>
   </body>

</html>
